<form>
    <!-- header -->
    <h6 class="mb-2 border-b border-dashed border-b-gray-600 pb-2 text-lg font-bold text-gray-900 dark:text-white">
        Documento
    </h6>
    <!-- form -->
    <div class="pt-5">
        <div class="mb-3 grid gap-6 md:grid-cols-2">
            <div>
                <label class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Expediente<b
                        class="text-red-600">*</b></label>
                <input type="text" id="first_name"
                    class="block w-full rounded-lg border border-gray-300 p-2.5 text-sm text-gray-900 focus:border-primary focus:ring-primary dark:border-gray-600 dark:text-white dark:focus:border-primary dark:focus:ring-primary" />
            </div>

            <div>
                <label class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">ID proceso <b
                        class="text-red-600">*</b></label>
                <input type="text" id="first_name"
                    class="block w-full rounded-lg border border-gray-300 p-2.5 text-sm text-gray-900 focus:border-primary focus:ring-primary dark:border-gray-600 dark:text-white dark:focus:border-primary dark:focus:ring-primary" />

            </div>
        </div>
        <!-- level 2 -->
        <div class="mb-3 grid gap-6 md:grid-cols-3">
            <div>
                <label class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Tipo<b
                        class="text-red-600">*</b></label>
                <input type="text" id="first_name"
                    class="block w-full rounded-lg border border-gray-300 p-2.5 text-sm text-gray-900 focus:border-primary focus:ring-primary dark:border-gray-600 dark:text-white dark:focus:border-primary dark:focus:ring-primary" />
            </div>
            <div>
                <label class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Id Original <b
                        class="text-red-600">*</b></label>
                <input type="text" id="first_name"
                    class="block w-full rounded-lg border border-gray-300 p-2.5 text-sm text-gray-900 focus:border-primary focus:ring-primary dark:border-gray-600 dark:text-white dark:focus:border-primary dark:focus:ring-primary" />

            </div>
            <div>
                <label class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Canal <b
                        class="text-red-600">*</b></label>
                <input type="text" id="first_name"
                    class="block w-full rounded-lg border border-gray-300 p-2.5 text-sm text-gray-900 focus:border-primary focus:ring-primary dark:border-gray-600 dark:text-white dark:focus:border-primary dark:focus:ring-primary" />

            </div>
        </div>
            <!-- level 3 -->
        <div class="mb-3 grid gap-6 md:grid-cols-1">
            <div class="mb-3">
                <label class="col-span-2 mb-2 block text-sm font-medium text-gray-900 dark:text-white">Asunto <b
                            class="text-red-600">*</b></label>
                <textarea
                        class="block w-full rounded-lg border border-gray-300 p-2.5 text-sm text-gray-900 focus:border-primary focus:ring-primary dark:border-gray-600 dark:text-white dark:focus:border-primary dark:focus:ring-primary">
                </textarea>
            </div>
        </div>
        <!-- level 4 -->
        <!-- level 5 -->
        <!-- level 6 -->
        <h6 class="mb-6 border-b border-dashed border-b-gray-600 pb-2 text-lg font-bold text-gray-900 dark:text-white">
            Trazabilidad
        </h6>
        <!-- level 7-->
        <!-- level 8-->
        <div class="mb-6">
            <app-trazabilidad-table></app-trazabilidad-table>
        </div>
    </div>
</form>