<app-tupa-process-tab
  [title]="title"
  [expediente]="expediente"
  [canAction]="processService.getCanAction()"
  [status]="processService.getStatus()"
  (eventSave)="onSave()"
  (eventFinished)="onFinished()"
  (eventCancel)="onCancel()" />
<app-tupa-header-tab [tabs]="processService.getTabs()" (eventSelected)="processService.selectTab($event)" />
<div class="w-full rounded-lg bg-background p-6">
  <app-tupa-request-tab *ngIf="processService.isActiveCurrentTab(0)" [requestService]="requestService" />
  <app-tupa-establishment-tab
    *ngIf="processService.isActiveCurrentTab(1)"
    [establishmentService]="establishmentService" />
  <app-tupa-05-final *ngIf="processService.isActiveCurrentTab(2)" [detailService]="detailService" />
  <app-tupa-05-mercancia-pecuaria *ngIf="processService.isActiveCurrentTab(3)" [productService]="productService" />
  <app-tupa-payment-tab *ngIf="processService.isActiveCurrentTab(4)" [paymentService]="paymentService" />
  <app-tupa-expediente-tab *ngIf="processService.isActiveCurrentTab(5)" [expediente]="expediente" />
</div>
<!-- loading -->
<app-content-loading *ngIf="expedienteCreate.getLoading() || expedienteFind.getLoading()" />
