<div class="relative overflow-x-auto">
  <table class="w-full table-auto">
    <!--Table head-->
    <thead class="text-xs uppercase text-muted-foreground">
      <tr>
        <th class="py-3 text-left">Conceptos de pago</th>
        <th class="py-3 text-right">Cantidad</th>
        <th class="py-3 text-right">Costo</th>
        <th class="py-3 text-center">Acciones</th>
      </tr>
    </thead>
    <!--Table body-->
    <tbody>
      <tr class="border-b border-dashed border-border hover:bg-card" *ngFor="let payload of data; index as row">
        <td class="py-2 pr-2">
          <span class="text-sm font-semibold text-muted-foreground">
            {{ payload.serviceName }}
          </span>
        </td>
        <td class="py-2 pl-2 text-right">
          <span class="text-sm font-semibold text-muted-foreground">
            {{ payload.amount }}
          </span>
        </td>
        <td class="py-2 pl-2 text-right">
          <span class="text-sm font-semibold text-muted-foreground">
            {{ payload.price }}
          </span>
        </td>
        <td class="py-2 pl-2">
          <div class="flex justify-center gap-2">
            <svg-icon
              (click)="onDelete({ row, payload })"
              src="assets/icons/heroicons/outline/trash.svg"
              [svgClass]="'h-5 w-5 text-muted-foreground/50 cursor-pointer'">
            </svg-icon>
          </div>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr class="border-b border-dashed border-border">
        <td class="py-2 pr-2" colspan="2">
          <span class="text-sm font-semibold text-muted-foreground">Total</span>
        </td>
        <td class="py-2 pl-2 text-right">
          <span class="text-sm font-semibold text-muted-foreground">{{ total }}</span>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
