<form>
  <!-- header -->
  <h6 class="mb-2 border-b border-dashed border-b-gray-600 pb-2 text-lg font-bold text-gray-900 dark:text-white">
    Datos del solicitante
  </h6>
  <!-- form -->
  <div class="pt-5">
    <div class="mb-6 grid gap-6 md:grid-cols-3">
      <div>
        <label class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Tipo Documento <b
            class="text-red-600">*</b></label>
        <input type="text" id="first_name"
          class="block w-full rounded-lg border border-gray-300 p-2.5 text-sm text-gray-900 focus:border-primary focus:ring-primary dark:border-gray-600 dark:text-white dark:focus:border-primary dark:focus:ring-primary" />
      </div>
      <div>
        <label class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">N° Documento <b
            class="text-red-600">*</b></label>
        <input type="text" id="first_name"
          class="block w-full rounded-lg border border-gray-300 p-2.5 text-sm text-gray-900 focus:border-primary focus:ring-primary dark:border-gray-600 dark:text-white dark:focus:border-primary dark:focus:ring-primary" />
      </div>
      <div class="justify-end">
        <button data-modal-target="myModal2" data-modal-toggle="myModal"
          class="relative mt-2 w-full rounded-lg bg-primary px-5 py-2.5 text-center text-sm font-medium text-white ring-primary/50 focus:outline-none focus:ring-4 sm:w-auto md:top-7 md:mt-0 md:ml-2"
          type="button">
          Buscar
        </button>
        <!-- <button (click)="openDialog()">Open Modal</button> -->
        <button data-modal-target="myModal2" data-modal-toggle="myModal2"
          class="relative mt-2 w-full rounded-lg bg-primary px-5 py-2.5 text-center text-sm font-medium text-white ring-primary/50 focus:outline-none focus:ring-4 sm:w-auto md:top-7 md:mt-0 md:ml-2"  type="button">
          Agregar
        </button>
      </div>
    </div>
    <!-- level 2 -->
    <div class="mb-6">
      <label class="col-span-2 mb-2 block text-sm font-medium text-gray-900 dark:text-white">Razón social/Nombre <b
          class="text-red-600">*</b></label>
      <input type="text" id="first_name"
        class="block w-full rounded-lg border border-gray-300 p-2.5 text-sm text-gray-900 focus:border-primary focus:ring-primary dark:border-gray-600 dark:text-white dark:focus:border-primary dark:focus:ring-primary" />
    </div>
    <!-- level 3 -->
    <div class="mb-6">
      <label class="col-span-2 mb-2 block text-sm font-medium text-gray-900 dark:text-white">Dirección <b
          class="text-red-600">*</b></label>
      <textarea
        class="block w-full rounded-lg border border-gray-300 p-2.5 text-sm text-gray-900 focus:border-primary focus:ring-primary dark:border-gray-600 dark:text-white dark:focus:border-primary dark:focus:ring-primary">
      </textarea>
    </div>
    <!-- level 4 -->
    <div class="mb-6 grid gap-6 md:grid-cols-3">
      <div>
        <label class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Nombre Departamento</label>
        <input type="text"
          class="block w-full rounded-lg border border-gray-300 p-2.5 text-sm text-gray-900 focus:border-primary focus:ring-primary dark:border-gray-600 dark:text-white dark:focus:border-primary dark:focus:ring-primary" />
      </div>
      <div>
        <label class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Nombre Provincia</label>
        <input type="text"
          class="block w-full rounded-lg border border-gray-300 p-2.5 text-sm text-gray-900 focus:border-primary focus:ring-primary dark:border-gray-600 dark:text-white dark:focus:border-primary dark:focus:ring-primary" />
      </div>
      <div>
        <label class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Nombre Distrito</label>
        <input type="text"
          class="block w-full rounded-lg border border-gray-300 p-2.5 text-sm text-gray-900 focus:border-primary focus:ring-primary dark:border-gray-600 dark:text-white dark:focus:border-primary dark:focus:ring-primary" />
      </div>
    </div>
    <!-- level 5 -->
    <div class="mb-6 grid gap-6 md:grid-cols-3">
      <div>
        <label class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Teléfono</label>
        <input type="text"
          class="block w-full rounded-lg border border-gray-300 p-2.5 text-sm text-gray-900 focus:border-primary focus:ring-primary dark:border-gray-600 dark:text-white dark:focus:border-primary dark:focus:ring-primary" />
      </div>
      <div>
        <label class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Teléfono Movil</label>
        <input type="text"
          class="block w-full rounded-lg border border-gray-300 p-2.5 text-sm text-gray-900 focus:border-primary focus:ring-primary dark:border-gray-600 dark:text-white dark:focus:border-primary dark:focus:ring-primary" />
      </div>
      <div>
        <label class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Correo Electrónico</label>
        <input type="text"
          class="block w-full rounded-lg border border-gray-300 p-2.5 text-sm text-gray-900 focus:border-primary focus:ring-primary dark:border-gray-600 dark:text-white dark:focus:border-primary dark:focus:ring-primary" />
      </div>
    </div>
  </div>
  <!-- level 6 -->
  <h6 class="mb-6 border-b border-dashed border-b-gray-600 pb-2 text-lg font-bold text-gray-900 dark:text-white">
    Datos del solicitante
  </h6>
  <!-- level 7 -->
  <div class="mb-6">
    <label class="col-span-2 mb-2 block text-sm font-medium text-gray-900 dark:text-white">Representante Legal<b
        class="text-red-600">*</b></label>
    <input type="text" id="first_name"
      class="block w-full rounded-lg border border-gray-300 p-2.5 text-sm text-gray-900 focus:border-primary focus:ring-primary dark:border-gray-600 dark:text-white dark:focus:border-primary dark:focus:ring-primary" />
  </div>
  <app-solicitante-modal />
  <app-solicitante-add-modal />
</form>