<div class="mb-4 flex justify-between">
  <div class="inline-block">
    <h3 class="font-semibold text-foreground">{{ this.title }}</h3>
    <div class="space-x-1 text-xs font-medium text-muted-foreground">
      <a href="" class="hover:text-primary"></a>
      <span></span>
    </div>
  </div>
  <div class="inline-block space-x-4">
    <button
      [disabled]="!canAction"
      (click)="eventSave.emit()"
      [className]="
        canAction
          ? 'flex-none rounded-md bg-primary px-4 py-2.5 text-xs font-semibold text-primary-foreground'
          : 'flex-none rounded-md bg-muted px-4 py-2.5 text-xs font-semibold text-muted-foreground'
      ">
      Guardar
    </button>
    <button
      *ngIf="status === 'FINISHED'"
      [disabled]="!canAction"
      (click)="eventFinished.emit()"
      [className]="
        canAction
          ? 'flex-none rounded-md bg-primary px-4 py-2.5 text-xs font-semibold text-primary-foreground'
          : 'flex-none rounded-md bg-muted px-4 py-2.5 text-xs font-semibold text-muted-foreground'
      ">
      Finalizar Proceso
    </button>
    <button
      [disabled]="!canAction"
      (click)="onCancel()"
      [className]="
        canAction
          ? 'flex-none rounded-md bg-red-700 px-4 py-2.5 text-xs font-semibold text-primary-foreground'
          : 'flex-none rounded-md bg-muted px-4 py-2.5 text-xs font-semibold text-muted-foreground'
      ">
      Cancelar Proceso
    </button>
  </div>
</div>
<!-- validate cancel process -->
<app-confirm
  title="Cancelar Proceso"
  [text]="contentMessageConfirm()"
  [isOpen]="isOpen"
  (eventClose)="onClose()"
  (eventSuccess)="onConfirm()" />
