<app-tupa-05-tab-header [tabs]="this.tabs" (eventSelected)="this.onSelect($event)" />
<div class="w-full rounded-lg bg-background p-6">
  <app-tupa-05-parte-i
    *ngIf="this.currentTabKey === tabs[0].id"
    [person]="person"
    (eventPerson)="selectPerson($event)" />
  <app-tupa-05-parte-ii
    *ngIf="this.currentTabKey === tabs[1].id"
    [establishment]="establishment"
    [technical]="technical"
    (eventEstablishment)="selectEstablishment($event)"
    (eventTechnical)="selectTechnical($event)" />
  <app-tupa-05-parte-iii *ngIf="this.currentTabKey === tabs[2].id" [finalidad]="finalidad" />
  <app-tupa-05-parte-iv *ngIf="this.currentTabKey === tabs[3].id" [animals]="animals" [subProducts]="subProducts" />
  <app-tupa-05-parte-v *ngIf="this.currentTabKey === tabs[4].id" [person]="personPayment" [payments]="payments" />
</div>
