<form>
    <!-- header -->
    <h6 class="mb-2 border-b border-dashed border-b-gray-600 pb-2 text-lg font-bold text-gray-900 dark:text-white">
      Informacion Expediente
    </h6>
    <!-- form -->
    <div class="pt-5">
      <div class="mb-3 grid gap-6 md:grid-cols-3">
        <div>
          <label class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
            >Fecha de Registro <b class="text-red-600">*</b></label
          >
          <input
            type="text"
            id="first_name"
            class="block w-full rounded-lg border border-gray-300 p-2.5 text-sm text-gray-900 focus:border-primary focus:ring-primary dark:border-gray-600 dark:text-white dark:focus:border-primary dark:focus:ring-primary" />
        </div>
        <div>
          <label class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
            >Canal <b class="text-red-600">*</b></label
          >
          <input
            type="text"
            id="first_name"
            class="block w-full rounded-lg border border-gray-300 p-2.5 text-sm text-gray-900 focus:border-primary focus:ring-primary dark:border-gray-600 dark:text-white dark:focus:border-primary dark:focus:ring-primary" />
        </div>
        <div>
            <label class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
            >Estado <b class="text-red-600">*</b></label
          >
          <input
            type="text"
            id="first_name"
            class="block w-full rounded-lg border border-gray-300 p-2.5 text-sm text-gray-900 focus:border-primary focus:ring-primary dark:border-gray-600 dark:text-white dark:focus:border-primary dark:focus:ring-primary" />
        
        </div>
      </div>
      <!-- level 2 -->
      <div class="mb-3 grid gap-6 md:grid-cols-3">
        <div>
          <label class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
            >Oficina <b class="text-red-600">*</b></label
          >
          <input
            type="text"
            id="first_name"
            class="block w-full rounded-lg border border-gray-300 p-2.5 text-sm text-gray-900 focus:border-primary focus:ring-primary dark:border-gray-600 dark:text-white dark:focus:border-primary dark:focus:ring-primary" />
        </div>
        <div>
          <label class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
            >Código TUPA<b class="text-red-600">*</b></label
          >
          <input
            type="text"
            id="first_name"
            class="block w-full rounded-lg border border-gray-300 p-2.5 text-sm text-gray-900 focus:border-primary focus:ring-primary dark:border-gray-600 dark:text-white dark:focus:border-primary dark:focus:ring-primary" />
        </div>
        <div>
            <label class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
            >Confidencial <b class="text-red-600">*</b></label
          >
          <input
            type="text"
            id="first_name"
            class="block w-full rounded-lg border border-gray-300 p-2.5 text-sm text-gray-900 focus:border-primary focus:ring-primary dark:border-gray-600 dark:text-white dark:focus:border-primary dark:focus:ring-primary" />
        
        </div>
      </div>
      <!-- level 3 -->
      <!-- <div class="mb-3">
        <label class="col-span-2 mb-2 block text-sm font-medium text-gray-900 dark:text-white"
          >Dirección <b class="text-red-600">*</b></label
        >
        <textarea
          class="block w-full rounded-lg border border-gray-300 p-2.5 text-sm text-gray-900 focus:border-primary focus:ring-primary dark:border-gray-600 dark:text-white dark:focus:border-primary dark:focus:ring-primary">
        </textarea>
      </div> -->
      <div class="mb-3 grid gap-6 md:grid-cols-3">
        <div>
          <label class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
            >Área <b class="text-red-600">*</b></label
          >
          <input
            type="text"
            id="first_name"
            class="block w-full rounded-lg border border-gray-300 p-2.5 text-sm text-gray-900 focus:border-primary focus:ring-primary dark:border-gray-600 dark:text-white dark:focus:border-primary dark:focus:ring-primary" />
        </div>
        <div>
          <label class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
            >Tipo <b class="text-red-600">*</b></label
          >
          <input
            type="text"
            id="first_name"
            class="block w-full rounded-lg border border-gray-300 p-2.5 text-sm text-gray-900 focus:border-primary focus:ring-primary dark:border-gray-600 dark:text-white dark:focus:border-primary dark:focus:ring-primary" />
        </div>
        <div>
            <label class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
            >Folio(s) <b class="text-red-600">*</b></label
          >
          <input
            type="text"
            id="first_name"
            class="block w-full rounded-lg border border-gray-300 p-2.5 text-sm text-gray-900 focus:border-primary focus:ring-primary dark:border-gray-600 dark:text-white dark:focus:border-primary dark:focus:ring-primary" />
        
        </div>
      </div>
      <!-- level 4 -->
      <div class="mb-3">
        <label class="col-span-2 mb-2 block text-sm font-medium text-gray-900 dark:text-white"
          >Proceso <b class="text-red-600">*</b></label
        >
        <input
          type="text"
          id="first_name"
          class="block w-full rounded-lg border border-gray-300 p-2.5 text-sm text-gray-900 focus:border-primary focus:ring-primary dark:border-gray-600 dark:text-white dark:focus:border-primary dark:focus:ring-primary" />
      </div>
      <!-- level 5 -->
      <div class="mb-3">
        <label class="col-span-2 mb-2 block text-sm font-medium text-gray-900 dark:text-white"
          >Servicio TUPA <b class="text-red-600">*</b></label
        >
        <input
          type="text"
          id="first_name"
          class="block w-full rounded-lg border border-gray-300 p-2.5 text-sm text-gray-900 focus:border-primary focus:ring-primary dark:border-gray-600 dark:text-white dark:focus:border-primary dark:focus:ring-primary" />
      </div>

      <div class="mb-3">
        <label class="col-span-2 mb-2 block text-sm font-medium text-gray-900 dark:text-white"
          >Usuario <b class="text-red-600">*</b></label
        >
        <input
          type="text"
          id="first_name"
          class="block w-full rounded-lg border border-gray-300 p-2.5 text-sm text-gray-900 focus:border-primary focus:ring-primary dark:border-gray-600 dark:text-white dark:focus:border-primary dark:focus:ring-primary" />
      </div>
    </div>
    <!-- level 6 -->
    <h6 class="mb-6 border-b border-dashed border-b-gray-600 pb-2 text-lg font-bold text-gray-900 dark:text-white">
      Documentos Presentados
    </h6>
    <!-- level 7-->
    <div class="mb-6 inline-block space-x-4">
        <button class="flex-none rounded-md bg-primary px-4 py-2.5 text-xs font-semibold text-primary-foreground">
          Descargar Todos
        </button>
        <button class="flex-none rounded-md bg-primary px-4 py-2.5 text-xs font-semibold text-primary-foreground">
            Descargar Seleccionados
        </button>
    </div>
    <!-- level 8-->
    <!-- <div class="mb-6">
      <label class="col-span-2 mb-2 block text-sm font-medium text-gray-900 dark:text-white"
        >Representante Legal<b class="text-red-600">*</b></label
      >
      <input
        type="text"
        id="first_name"
        class="block w-full rounded-lg border border-gray-300 p-2.5 text-sm text-gray-900 focus:border-primary focus:ring-primary dark:border-gray-600 dark:text-white dark:focus:border-primary dark:focus:ring-primary" />
    </div> -->
    <div class="mb-6">
        <app-expediente-table></app-expediente-table>
    </div>
  </form>
  