<form>
  <!-- header -->
  <h6 class="mb-7 border-b border-dashed border-b-gray-600 pb-2 text-lg font-bold text-gray-900 dark:text-white">
    Mercancia Pecuaria
  </h6>

  <!-- level 2 -->
  <div class="mb-6 flex">
    <div class="ml-4">
      <input
        type="radio"
        id="animal"
        class="mr-2"
        [checked]="productService.isActiveProductType('A')"
        (change)="onProductType('A')" />
      <label for="animal" class="col-span-2 mb-2 text-sm font-medium text-gray-900 dark:text-white">
        Animales Vivos
      </label>
    </div>

    <div class="ml-4">
      <input
        type="radio"
        id="product"
        class="mr-2"
        [checked]="productService.isActiveProductType('P')"
        (change)="onProductType('P')" />
      <label for="product" class="col-span-2 mb-2 text-sm font-medium text-gray-900 dark:text-white">Producto</label>
    </div>
  </div>

  <!-- animal -->
  <div *ngIf="productService.isActiveProductType('A')">
    <h6
      class="relative mb-7 border-b border-dashed border-b-gray-600 pb-2 text-lg font-bold text-gray-900 dark:text-white">
      Animal vivo
      <button class="absolute right-0 top-0 text-primary" type="button" (click)="openCreateAnimal()">
        <u>Agregar</u>
      </button>
    </h6>

    <div class="mb-10">
      <app-product-animal-table
        [data]="productService.getProducts()"
        (eventEdit)="onEdit($event)"
        (eventDelete)="onDelete($event)" />
    </div>
  </div>

  <!-- product -->
  <div *ngIf="productService.isActiveProductType('P')">
    <h6 class="relative border-b border-dashed border-b-gray-600 pb-2 text-lg font-bold text-gray-900 dark:text-white">
      Producto
      <button class="absolute right-0 top-0 text-primary" type="button" (click)="openCreateSubProduct()">
        <u>Agregar</u>
      </button>
    </h6>

    <div class="mb-10">
      <app-product-subproduct-table
        [data]="productService.getProducts()"
        (eventEdit)="onEdit($event)"
        (eventDelete)="onDelete($event)" />
    </div>
  </div>
</form>

<!-- add animal -->
<app-product-animal-create
  [isOpen]="isOpenCreateAnimal"
  (eventClose)="closeCreateAnimal()"
  (eventSave)="productService.addProduct($event)" />

<!-- add subproduct -->
<app-product-subproduct-create
  [isOpen]="isOpenCreateSubProduct"
  (eventClose)="closeCreateSubProduct()"
  (eventSave)="productService.addProduct($event)" />

<!-- edit subproduct -->
<!-- <app-product-subproduct-edit
  [isOpen]="isOpenEditSubProduct"
  [product]="cuarentena"
  (eventClose)="closeEditSubProduct()"
  (eventSave)="onAdd($event)" /> -->
