<!-- <p>requisitos-table works!</p> -->
<div class="relative overflow-x-auto shadow sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    N°
                </th>
                <th scope="col" class="px-6 py-3">
                    Fecha Hora
                </th>
                <th scope="col" class="px-6 py-3">
                    Estado
                </th>
                <th scope="col" class="px-6 py-3">
                    Remitente
                </th>
                <th scope="col" class="px-6 py-3">
                    Destinatario
                </th>
                <th scope="col" class="px-6 py-3">
                    <span class="sr-only">Edit</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <td class="px-6 py-4">
                    1               
                </td>
                <td class="px-6 py-4">
                    13/05/2024               
                </td>
                <td class="px-6 py-4">
                    Anulado                
                </td>
                <td class="px-6 py-4">
                    Jean Marcos                
                </td>
                <td class="px-6 py-4">
                    Dalton msn                
                </td>
                <td class="px-6 py-4 text-right">
                    <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                </td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <td class="px-6 py-4">
                    2               
                </td>
                <td class="px-6 py-4">
                    13/05/2024             
                </td>
                <td class="px-6 py-4">
                    Anulado                
                </td>
                <td class="px-6 py-4">
                    Jean Piere                
                </td>
                <td class="px-6 py-4">
                    Dalton msn                
                </td>
                <td class="px-6 py-4 text-right">
                    <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                </td>
            </tr>

        </tbody>
    </table>
</div>